@import url('fonts/drafting-mono/reg.css');
@import url('fonts/commit-mono/reg.css');
@import url('styles/document.css');
@import url('styles/leftbar.css');
@import url('styles/hl.css');
@import url('styles/rightbar.css');

/* Global Variables */
:root {
  --document-margin: 1.2em;
  --bar-width: 16em;
  --bar-item-vertical-padding: 6px;
}

body {
  font-family: 'Drafting Mono';
}
