@import url('fonts/drafting-mono/reg.css');
@import url('fonts/commit-mono/reg.css');
@import url('styles/document.css');
@import url('styles/leftbar.css');
@import url('styles/hl.css');
@import url('styles/rightbar.css');

/* Global Variables */
:root {
  --document-margin: 1em;
  --bar-width: 8em;
}

body {
  font-family: 'Drafting Mono';
}

code {
  font-family: 'Commit Mono';
  line-height: 1.5;
  font-size: 10pt;
}