@import url('fonts/drafting-mono/reg.css');
@import url('fonts/commit-mono/reg.css');

@import url('styles/document.css');
@import url('styles/leftbar.css');
@import url('styles/hl.css');
@import url('styles/rightbar.css');

/* Global Variables */
:root {
  --bar-item-vertical-padding: 6px;
  --bar-width: 16em;

  --document-margin: 1.2em;
  
  --h1-top-margin: 1em;
}

body {
  font-family: 'Drafting Mono';
}
