@import url("fonts/drafting-mono/reg.css");
@import url("fonts/jetbrains-mono/reg.css");

:root {
  /* Everforest */
  --ef-bg_dim: #232a2e;
  --ef-bg0: #2d353b;
  --ef-bg1: #343f44;
  --ef-bg2: #3d484d;
  --ef-bg3: #475258;
  --ef-bg4: #4f585e;
  --ef-bg5: #56635f;
  --ef-bg_visual: #543a48;
  --ef-bg_red: #514045;
  --ef-bg_green: #425047;
  --ef-bg_blue: #3a515d;
  --ef-bg_yellow: #4d4c43;
  --ef-fg: #d3c6aa;
  --ef-red: #e67e80;
  --ef-orange: #e69875;
  --ef-yellow: #dbbc7f;
  --ef-green: #a7c080;
  --ef-aqua: #83c092;
  --ef-blue: #7fbbb3;
  --ef-purple: #d699b6;
  --ef-grey0: #7a8478;
  --ef-grey1: #859289;
  --ef-grey2: #9da9a0;

  --theme-tint-9: #e8f4f1;
  --theme-tint-8: #d2eae4;
  --theme-tint-7: #bbe0d7;
  --theme-tint-6: #a5d6ca;
  --theme-tint-5: #8eccbd;
  --theme-tint-4: #78c2b0;
  --theme-tint-3: #61b8a3;
  --theme-tint-2: #4aae96;
  --theme-tint-1: #34a489;
  --theme: #1e9a7c;
  --theme-shade-1: #1b8a6f;
  --theme-shade-2: #187b63;
  --theme-shade-3: #156b56;
  --theme-shade-4: #125c4a;
  --theme-shade-5: #0f4d3e;
  --theme-shade-6: #0c3d31;
  --theme-shade-7: #092e25;
  --theme-shade-8: #061e18;
  --theme-shade-9: #030f0c;

  --bar-heading-font-size: 13pt;
  --bar-item-font-size: 11pt;
  --bar-item-vertical-padding: 0.5em;
  --bar-width: 14em;
  --document-font-size: 12pt;
  --document-padding: 1.5em;
  --rounded-corner-radius: 6pt;

  font-family: "Drafting Mono", monospace;
}

code {
  font-family: "JetBrains Mono", monospace;
  background: var(--ef-bg_dim);
  color: var(--ef-fg);
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 0;
  border-radius: var(--rounded-corner-radius);
}

.hljs-deletion,
.hljs-keyword {
  color: var(--ef-red);
}

.hljs-tag,
.hljs-selector-tag,
.hljs-title,
.hljs-addition {
  color: var(--ef-orange);
}

.hljs-link,
.hljs-type {
  color: var(--ef-yellow);
}

.hljs-name,
.hljs-string,
.hljs-literal,
.hljs-regexp {
  color: var(--ef-green);
}

.hljs-symbol,
.hljs-meta {
  color: var(--ef-aqua);
}

.hljs-attribute,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-variable {
  color: var(--ef-blue);
}

.hljs-code,
.hljs-built_in {
  color: var(--ef-purple);
}

.hljs-template-tag,
.hljs-template-variable {
  color: var(--ef-grey0);
}

.hljs-comment {
  color: var(--ef-grey1);
}

.hljs-subst,
.hljs-bullet,
.hljs-section {
  color: var(--ef-grey2);
}

.hljs-strong {
  font-weight: bold;
}

.hljs-quote,
.hljs-emphasis {
  font-style: italic;
}

nav {
  font-size: var(--bar-item-font-size);
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: var(--document-padding);
  position: fixed;
  top: 0;
  width: var(--bar-width);
  z-index: 1;
}

nav span,
nav.left a {
  display: block;
  text-decoration: none;
  color: inherit;
}

nav a[signature] {
  margin: calc(0.5 * var(--bar-item-vertical-padding)) calc(0.6 * var(--document-padding));
  padding: calc(0.5 * var(--bar-item-vertical-padding)) calc(0.3 * var(--document-padding));
  font-size: var(--bar-heading-font-size);
  font-weight: 300;
}

nav.left {
  left: 0;
  text-align: left;
  background-color: var(--theme);
  color: white;
}

nav.left a:not([signature]) {
  margin: calc(0.5 * var(--bar-item-vertical-padding)) calc(0.6 * var(--document-padding));
  padding: calc(0.5 * var(--bar-item-vertical-padding)) calc(0.4 * var(--document-padding));
  text-decoration: none;
  color: white;
  display: block;
}

nav.left a:hover,
nav.left a[selected] {
  color: var(--theme-shade-1);
  background-color: white;
  border-radius: var(--rounded-corner-radius);
}

nav.left a[signature]:hover {
  font-weight: 600;
}

nav.left a[signature]:hover::after {
  content: " ~";
}

nav.right {
  background-color: transparent;
  right: 0;
  text-align: right;
}

nav span,
nav.right a.h1 {
  padding: var(--bar-item-vertical-padding) calc(0.85 * var(--document-padding));
  font-weight: 600;
  font-size: var(--bar-heading-font-size);
}

nav.right a {
  color: darkgray;
  display: block;
  text-decoration: unset;
}

nav.right a.h2 {
  padding: var(--bar-item-vertical-padding) calc(1.1 * var(--document-padding)) var(--bar-item-vertical-padding) var(--document-padding);
}

nav.right a:hover {
  color: var(--theme-shade-1);
}

nav.right a[signature]:hover::before {
  content: "^ ";
}

main {
  margin: 0 var(--bar-width);
  padding: var(--document-padding);
  font-size: var(--document-font-size);
  overflow-x: hidden;
  overflow-y: auto;
}

main hr {
  border: 1pt solid var(--theme);
  margin: 2em 0;
}

main:not(:has(+ nav.right)) {
  margin-right: 0;
}

p {
  margin: var(--document-padding) 0;
}

h1 {
  font-size: calc(var(--document-font-size) + 4pt);
  font-weight: 700;
  margin-top: 2em;
}

h2 {
  font-size: calc(var(--document-font-size) + 2pt);
  font-weight: 600;
  margin-top: 1.6em;
}

h2::before {
  content: "ยง ";
  color: darkgray;
}

del {
  text-decoration: line-through;
  background-color: #fed0ce;
}

ins {
  text-decoration: underline;
  background-color: #c5dacb;
}

b.important {
  color: red;
}

details,
blockquote {
  border-left: var(--theme) 3pt solid;
  background-color: var(--theme-tint-9);
  padding: 1em;
  margin: calc(var(--document-padding) / 2) 0;
  border-top-right-radius: var(--rounded-corner-radius);
  border-bottom-right-radius: var(--rounded-corner-radius);
}

main:not(:has(+ nav.right)) details,
main:not(:has(+ nav.right)) blockquote {
  margin-right: calc(var(--document-padding) / 2);
}

p code,
ul code,
ol code,
table code {
  padding: 0 0.3em;
  border-radius: var(--rounded-corner-radius);
}

kbd {
  font-family: inherit;
  padding: 0 0.25em;
  border: var(--theme-shade-1) 1px solid;
  border-radius: var(--rounded-corner-radius);
  font-weight: 300;
  box-shadow: 0 1px 1px 0.5px lightgrey;
}

.grow {
  display: inline-block;
  transition: transform;
}

.grow:hover {
  transform: scale(5);
}

p a[href] {
  color: var(--theme-shade-1);
  text-decoration: unset;
}

p a[href]:hover {
  color: white;
  background-color: var(--theme-tint-1);
}

table {
  float: left;
  table-layout: fixed;
  border-collapse: collapse;
  margin-right: var(--document-padding);
}

table,
td,
th {
  border: 0.6px solid darkgray;
  padding: 4pt 7pt;
}

table caption {
  margin: 0.5em;
  padding: 0em;
}

td {
  text-align: left;
}

thead th {
  font-weight: bold;
  width: fit-content;
}

dl {
  text-indent: 2em;
}

dt {
  font-weight: 700;
}

time {
  color: gray;
  font-size: small;
  font-weight: 300;
}

blockquote cite {
  display: block;
  text-align: right;
  padding-right: 0.25em;
  font-style: unset;
}

blockquote cite::before {
  content: "--- ";
}

.table-container {
  display: inline-block;
}

.cjk {
  font-family: "Sarasa Mono TC", sans-serif;
}

@media (max-width: 1080px) {
  nav.right {
    display: none;
  }

  main {
    margin-right: 0;
  }
}

@media (max-width: 760px) {
  nav.left {
    display: none;
  }

  main {
    margin-left: 0;
  }
}