@font-face {
  font-family: "Commit Mono R";
  font-style: normal;
  font-weight: normal;
  src: url("cmr-r.woff2") format("woff2");
}

@font-face {
  font-family: "Commit Mono R";
  font-style: italic;
  font-weight: normal;
  src: url("cmr-i.woff2") format("woff2");
}

@font-face {
  font-family: "Commit Mono R";
  font-style: normal;
  font-weight: bold;
  src: url("cmr-b.woff2") format("woff2");
}

@font-face {
  font-family: "Commit Mono R";
  font-style: italic;
  font-weight: bold;
  src: url("cmr-z.woff2") format("woff2");
}