@font-face {
	font-family: "Drafting Mono";
	src: url("Drafting-wght.woff2") format("woff2-variations");
	font-weight: 200 800;
	font-style: normal;
}

@font-face {
	font-family: "Drafting Mono";
	src: url("Drafting-Italic-wght.woff2") format("woff2-variations");
	font-weight: 200 800;
	font-style: italic;
}
