/* weight 100 */
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 100, 'ital' 0;
  font-weight: 100;
  font-style: normal;
  src: url('Drafting-wght.woff2') format('woff2-variations')
}
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 100, 'ital' 1;
  font-weight: 100;
  font-style: italic;
  src: url('Drafting-Italic-wght.woff2') format('woff2-variations')
}

/* weight 200 */
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 200, 'ital' 0;
  font-weight: 200;
  font-style: normal;
  src: url('Drafting-wght.woff2') format('woff2-variations')
}
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 200, 'ital' 1;
  font-weight: 200;
  font-style: italic;
  src: url('Drafting-Italic-wght.woff2') format('woff2-variations')
}

/* weight 300 */
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 300, 'ital' 0;
  font-weight: 300;
  font-style: normal;
  src: url('Drafting-wght.woff2') format('woff2-variations')
}
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 300, 'ital' 1;
  font-weight: 300;
  font-style: italic;
  src: url('Drafting-Italic-wght.woff2') format('woff2-variations')
}

/* weight 400 */
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 400, 'ital' 0;
  font-weight: 400;
  font-style: normal;
  src: url('Drafting-wght.woff2') format('woff2-variations')
}
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 400, 'ital' 1;
  font-weight: 400;
  font-style: italic;
  src: url('Drafting-Italic-wght.woff2') format('woff2-variations')
}

/* weight 500 */
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 500, 'ital' 0;
  font-weight: 500;
  font-style: normal;
  src: url('Drafting-wght.woff2') format('woff2-variations')
}
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 500, 'ital' 1;
  font-weight: 500;
  font-style: italic;
  src: url('Drafting-Italic-wght.woff2') format('woff2-variations')
}

/* weight 600 */
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 600, 'ital' 0;
  font-weight: 600;
  font-style: normal;
  src: url('Drafting-wght.woff2') format('woff2-variations')
}
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 600, 'ital' 1;
  font-weight: 600;
  font-style: italic;
  src: url('Drafting-Italic-wght.woff2') format('woff2-variations')
}

/* weight 700 */
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 700, 'ital' 0;
  font-weight: 700;
  font-style: normal;
  src: url('Drafting-wght.woff2') format('woff2-variations')
}
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 700, 'ital' 1;
  font-weight: 700;
  font-style: italic;
  src: url('Drafting-Italic-wght.woff2') format('woff2-variations')
}

/* weight 800 */
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 800, 'ital' 0;
  font-weight: 800;
  font-style: normal;
  src: url('Drafting-wght.woff2') format('woff2-variations')
}
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 800, 'ital' 1;
  font-weight: 800;
  font-style: italic;
  src: url('Drafting-Italic-wght.woff2') format('woff2-variations')
}

/* weight 900 */
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 900, 'ital' 0;
  font-weight: 900;
  font-style: normal;
  src: url('Drafting-wght.woff2') format('woff2-variations')
}
@font-face {
  font-family: 'Drafting Mono';
  font-optical-sizing: auto;
  font-synthesis: none;
  font-variation-settings: 'wght' 900, 'ital' 1;
  font-weight: 900;
  font-style: italic;
  src: url('Drafting-Italic-wght.woff2') format('woff2-variations')
}

