@font-face {
  font-family: 'Drafting Mono';
  font-style: normal;
  font-weight: 100;
  src: url('DraftingMono-Thin.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: italic;
  font-weight: 100;
  src: url('DraftingMono-ThinItalic.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: normal;
  font-weight: 600;
  src: url('DraftingMono-SemiBold.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: italic;
  font-weight: 600;
  src: url('DraftingMono-SemiBoldItalic.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: normal;
  font-weight: 400;
  src: url('DraftingMono-Regular.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: italic;
  font-weight: 400;
  src: url('DraftingMono-Italic.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: normal;
  font-weight: 500;
  src: url('DraftingMono-Medium.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: italic;
  font-weight: 500;
  src: url('DraftingMono-MediumItalic.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: normal;
  font-weight: 300;
  src: url('DraftingMono-Light.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: italic;
  font-weight: 300;
  src: url('DraftingMono-LightItalic.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: normal;
  font-weight: 200;
  src: url('DraftingMono-ExtraLight.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: italic;
  font-weight: 200;
  src: url('DraftingMono-ExtraLightItalic.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: normal;
  font-weight: 700;
  src: url('DraftingMono-Bold.woff2') format('woff2')
}
@font-face {
  font-family: 'Drafting Mono';
  font-style: italic;
  font-weight: 700;
  src: url('DraftingMono-BoldItalic.woff2') format('woff2')
}