nav {
  font-size: var(--bar-item-font-size);
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: var(--document-padding);
  position: fixed;
  top: 0;
  width: var(--bar-width);
  z-index: 1;
}

nav span,
nav.left a {
  display: block;
  text-decoration: none;
  color: inherit;
}

nav span,
nav a[signature] {
  padding: var(--bar-item-vertical-padding) calc(0.85 * var(--document-padding));
  font-size: var(--bar-heading-font-size);
  font-weight: bold;
}

nav.left {
  left: 0;
  text-align: left;
  background-color: var(--theme);
  color: white;
}

nav.left a:not([signature]) {
  padding: var(--bar-item-vertical-padding) var(--document-padding);
  text-decoration: none;
  color: white;
  display: block;
}

nav.left a:hover,
nav.left a[selected] {
  color: var(--theme-shade-1);
  background-color: white;
}

nav.right {
  background-color: transparent;
  right: 0;
  text-align: right;
}

nav.right a {
  color: darkgray;
  display: block;
  text-decoration: unset;
}

nav.right a.h1 {
  padding: var(--bar-item-vertical-padding) calc(0.9 * var(--document-padding));
  font-weight: 600;
  font-size: var(--bar-heading-font-size);
}

nav.right a.h2 {
  padding: var(--bar-item-vertical-padding) calc(1.1 * var(--document-padding)) var(--bar-item-vertical-padding) var(--document-padding);
}

nav.right a:hover {
  color: var(--theme-shade-1);
}