.document {
  margin-left: var(--leftbar-width);
  margin-right: var(--rightbar-width);
  padding: var(--document-padding);
  font-size: var(--document-font-size);
  overflow-x: hidden;
  overflow-y: auto;
}

.document[no-rightbar] {
  margin-right: var(--document-padding);
}

.document hr {
  border: 1pt solid #1e9a7c;
}

h1 {
  font-size: calc(var(--document-font-size) + 4pt);
  font-weight: 700;
  margin-top: var(--h1-top-margin);
}

h2 {
  font-size: calc(var(--document-font-size) + 2pt);
  font-weight: 600;
  margin-top: var(--h2-top-margin);
}

h2::before {
  content: "ยง ";
  color: darkgray;
}

h1 span,
h2 span {
  color: lightgray;
  float: right;
}

blockquote {
  border-left: #1e9a7c 3pt solid;
  background-color: var(--blockquote-background-color);
  padding: var(--blockquote-vertical-padding) var(--blockquote-horizontal-padding);
  margin: calc(var(--document-padding) / 2) 0;
}

p>code,
li>code,
th>code,
td>code {
  padding: var(--code-vertical-padding) var(--code-horizontal-padding);
  background: var(--code-line-background);
}

p a[href] {
  color: var(--link-color);
  text-decoration: unset;
}

p a[href]:hover {
  color: white;
  background-color: var(--link-hover-color);
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

table,
td,
th {
  border: 0.6px solid darkgray;
  padding: 4pt 7pt;
}

td {
  text-align: left;
}

thead th {
  font-weight: bold;
  width: fit-content;
}

@media (max-width: 1000px) {
  .rightbar {
    display: none;
  }

  .document {
    margin-right: var(--document-padding);
  }
}

@media (max-width: 800px) {
  .leftbar {
    display: none;
  }

  .document {
    margin-left: var(--document-padding);
  }
}