.document {
  margin: 0 var(--bar-width);
  padding: var(--document-padding);
  font-size: var(--document-font-size);
  overflow-x: hidden;
  overflow-y: auto;
}

.document[no-rightbar] {
  margin-right: var(--document-padding);
}

.document hr {
  border: 1pt solid var(--theme);
}

h1 {
  font-size: calc(var(--document-font-size) + 4pt);
  font-weight: 700;
  margin-top: 2em;
}

h2 {
  font-size: calc(var(--document-font-size) + 2pt);
  font-weight: 600;
  margin-top: 1.6em;
}

h2::before {
  content: "ยง ";
  color: darkgray;
}

span.del {
  text-decoration: line-through;
}

b.important {
  color: red;
}

blockquote {
  border-left: var(--theme) 3pt solid;
  background-color: var(--theme-tint-9);
  padding: 1em 1em 1em calc(1em + 3pt);
  margin: calc(var(--document-padding) / 2) 0;
}

p>code,
li>code,
th>code,
td>code {
  padding: 0;
  background: var(--theme-tint-9);
}

p a[href] {
  color: var(--theme-shade-1);
  text-decoration: unset;
}

p a[href]:hover {
  color: white;
  background-color: var(--theme-tint-1);
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

table,
td,
th {
  border: 0.6px solid darkgray;
  padding: 4pt 7pt;
}

td {
  text-align: left;
}

thead th {
  font-weight: bold;
  width: fit-content;
}

@media (max-width: 1000px) {
  .rightbar {
    display: none;
  }

  .document {
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  .leftbar {
    display: none;
  }

  .document {
    margin-left: 0;
  }
}