.document {
  margin-left: calc(var(--document-margin) + var(--bar-width)); 
  margin-right: calc(var(--document-margin) + var(--bar-width));
  padding: var(--document-margin);
  font-size: var(--document-font-size);
  overflow-x: hidden;
  overflow-y: auto;
}

.document[index] {
  margin-right: var(--document-margin)
}

.document h1 {
  font-size: calc(var(--document-font-size) + 8pt);
}

.document h1:not(:first-child)  {
  margin-top: var(--h1-top-margin);
}

.document h2 {
  font-size: calc(var(--document-font-size) + 4pt);
}

.document h2::before {
  content: "✢ ";
}

.document h3 {
  font-size: calc(var(--document-font-size) + 2pt);
}

.document h4 {
  font-size: calc(var(--document-font-size) + 1pt);
}

.document blockquote {
  font-style: italic;
  font-size: calc(var(--document-font-size) - 1pt);
  background-color: #e8f4f1;
  padding: 
    var(--blockquote-vertical-padding) 
    var(--blockquote-horizontal-padding);
}

.document code {
  font-family: 'Commit Mono';
  line-height: var(--code-line-height);
  font-size: calc(var(--document-font-size) - 2pt);
}

.document p > code, li > code, th > code, td > code {
  padding: 
    var(--code-vertical-padding) 
    var(--code-horizontal-padding);
  background: rgb(236, 236, 236);
}

.document p a[href] {
  color: var(--link-color);
}

.document p a[href]:hover {
  color: var(--link-hover-color);
  text-shadow: 
    var(--link-hover-shadow-xshift) 
    var(--link-hover-shadow-yshift) 
    var(--link-hover-shadow-radius) 
    var(--link-hover-shadow-color);
}

.document table {
  table-layout: fixed;
  border-collapse: collapse;
  font-family: 'Iosevka';
}

.document table, td, th {
  border: 0.6px solid darkgray;
  padding: 4pt 7pt;
}

.document td {
  text-align: left;
}

.document thead th {
  font-weight: 600;
  width: fit-content;
}