@import url("fonts/drafting-mono/reg.css");
@import url("fonts/commit-mono/reg.css");

@import url("document.css");
@import url("leftbar.css");
@import url("hl.css");
@import url("rightbar.css");

/* Global Variables */
:root {
	--bar-item-vertical-padding: 6px;
	--bar-width: 14em;

	--blockquote-vertical-padding: 1em;
	--blockquote-horizontal-padding: 1.3em;
	--blockquote-background-color: #e8f4f1;

	/* Inline code */
	--code-line-height: 1.5;
	--code-line-background: rgb(236, 236, 236);
	--code-vertical-padding: 2px;
	--code-horizontal-padding: 4px;

	--document-margin: 1.2em;
	--document-font-size: 12pt;

	--h1-top-margin: 1.5em;

	--link-color: #1b8a6f;
	--link-hover-color: #4aae96;
	--link-hover-shadow-xshift: 0px;
	--link-hover-shadow-yshift: 4px;
	--link-hover-shadow-radius: 8px;
	--link-hover-shadow-color: #bbe0d7;
}

/* default font for page */
body {
	font-family: "Drafting Mono";
	font-weight: normal;
}