@import url("fonts/drafting-mono/reg.css");
@import url("document.css");
@import url("leftbar.css");
@import url("rightbar.css");
@import url("hl.css");

/* Global variables */
:root {
  --bar-heading-font-size: 13pt;
  --bar-item-font-size: 11pt;
  --bar-item-vertical-padding: 6px;

  --blockquote-vertical-padding: 1em;
  --blockquote-horizontal-padding: 1.3em;
  --blockquote-background-color: #e8f4f1;

  --code-line-height: 1.5;
  --code-line-background: rgb(230, 230, 230);
  --code-vertical-padding: 0pt;
  --code-horizontal-padding: 0px;

  --document-padding: 1.2em;
  --document-font-size: 12pt;

  --h1-top-margin: 1.5em;

  --heading-symbol-spacing: 0.3em;

  --leftbar-width: 12em;
  --leftbar-background-color: #1e9a7c;

  --link-color: #1b8a6f;
  --link-hover-color: #4aae96;
  --link-hover-shadow-color: #bbe0d7;
  --link-hover-shadow-xshift: 0px;
  --link-hover-shadow-yshift: 4px;
  --link-hover-shadow-radius: 8px;

  --rightbar-width: 12em;
}

/* Default font for page */
body {
  font-family: "Drafting Mono";
  font-weight: normal;
}