@import url("fonts/drafting-mono/reg.css");
@import url("document.css");
@import url("leftbar.css");
@import url("rightbar.css");
@import url("hl.css");

/* Global variables */
:root {
  --bar-heading-font-size: 13pt;
  --bar-item-font-size: 11pt;
  --bar-item-vertical-padding: 6px;

  --blockquote-vertical-padding: 1em;
  --blockquote-horizontal-padding: calc(1em + 6pt);
  --blockquote-background-color: #e8f4f1;

  --code-line-height: 1.5;
  --code-line-background: lightgray;
  --code-vertical-padding: 0pt;
  --code-horizontal-padding: 0px;

  --document-padding: 1.4em;
  --document-font-size: 12pt;

  --h1-top-margin: 2em;
  --h2-top-margin: 1.6em;
  --h3-top-margin: 1.2em;

  --leftbar-width: 14em;
  --leftbar-background-color: #1e9a7c;

  --link-hover-shadow-xshift: 0px;
  --link-hover-shadow-yshift: 4px;
  --link-hover-shadow-radius: 8px;

  --rightbar-width: 14em;
}

/* Default font for page */
body {
  font-family: "Drafting Mono";
  font-weight: normal;
}