.leftbar {
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: var(--bar-width);
  padding-top: var(--document-padding);
  text-align: left;
  background-color: var(--theme);
  font-size: var(--bar-item-font-size);
}

.leftbar span,
.leftbar a[signature] {
  text-decoration: none;
  display: block;
  color: white;
  padding: var(--bar-item-vertical-padding) calc(0.85 * var(--document-padding));
  font-size: var(--bar-heading-font-size);
  font-weight: 600;
}

.leftbar a[signature] {
  font-weight: bold;
}

.leftbar a[signature]:hover {
  color: var(--theme-shade-1);
  background-color: white;
}

.leftbar a:not([signature]) {
  padding: var(--bar-item-vertical-padding) var(--document-padding);
  text-decoration: none;
  color: white;
  display: block;
}

.leftbar a:not([signature]):hover,
.leftbar a[selected] {
  color: var(--theme-shade-1);
  background-color: white;
}

footer {
  bottom: 0;
  left: 0;
  height: auto;
  position: fixed;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  width: var(--leftbar-width);
  padding: calc(1.1 * var(--document-padding));
  font-size: 10px;
  color: white;
  display: block;
  background-color: var(--theme);
}

footer a {
  color: unset;
  text-decoration: unset;
  display: block;
}

footer a:hover {
  text-decoration: underline;
}