/* The left bar menu */
.leftbar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--bar-width); /* Set the width of the left bar */
  position: fixed; /* Fixed left bar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  top: 0;
  background-color: #1e9a7c; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: var(--document-margin);
  text-align: left;
  overflow-y: auto;
}

/* The navigation menu links */
.leftbar a, .leftbar span {
  padding: var(--bar-item-vertical-padding) var(--document-margin);
  text-decoration: none;
  font-size: 11pt;
  color: #ffffff;
  display: block;
}

.leftbar a {
  font-weight: 300;
}

/* When you mouse over the navigation links, change their color */
.leftbar a:hover, a[selected] {
  color: #1e9a7c;
  background-color: #ffffff;
  font-weight: 400;
}

.leftbar a:hover::after {
  content: " <-";
}

.leftbar span {
  padding: var(--bar-item-vertical-padding) calc(0.85 * var(--document-margin));
  font-size: 13pt;
  font-weight: 500;
}

/* On smaller screens, where height is less than 450px, change the style of the left bar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .leftbar {
    padding-top: 15px;
  }
  .leftbar a {
    font-size: 18px;
  }
}