.leftbar {
	top: 0;
	left: 0;
	height: 100%;
	position: fixed;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
	width: var(--bar-width);
	padding-top: var(--document-margin);
	text-align: left;
	background-color: var(--leftbar-background-color);
}

.leftbar span,
.leftbar a[signature] {
	text-decoration: none;
	display: block;
	color: white;
	padding: var(--bar-item-vertical-padding) calc(0.85 * var(--document-margin));
	font-size: 13pt;
	font-weight: bold;
}

.leftbar a[signature] {
	font-family: "Iosevka";
}

.leftbar a[signature]:hover {
	color: #1e9a7c;
	background-color: #ffffff;
}

.leftbar a[signature]:hover::after {
	content: ".com";
}

.leftbar a:not([signature]) {
	padding: var(--bar-item-vertical-padding) var(--document-margin);
	text-decoration: none;
	font-size: 11pt;
	color: #ffffff;
	display: block;
}

.leftbar a:not([signature]):hover,
.leftbar a[selected] {
	color: #1e9a7c;
	background-color: #ffffff;
}

.leftbar a:not([signature]):hover::after {
	content: " <";
}

footer {
	bottom: 0;
	left: 0;
	height: auto;
	position: fixed;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left: var(--document-margin);
	padding-bottom: var(--document-margin);
	font-size: 10px;
	color: white;
}

footer a {
	color: unset;
	text-decoration: unset;
	display: block;
}

footer a:hover {
	text-decoration: underline;
}

@media screen and (max-height: 450px) {
	.leftbar {
		padding-top: 15px;
	}

	.leftbar a {
		font-size: 18px;
	}
}