main {
  margin: 0 var(--bar-width);
  padding: var(--document-padding);
  font-size: var(--document-font-size);
  overflow-x: hidden;
  overflow-y: auto;
}

main hr {
  border: 1pt solid var(--theme);
}

main:not(:has(+ nav.right)) {
  margin-right: 0;
}

h1 {
  font-size: calc(var(--document-font-size) + 4pt);
  font-weight: 700;
  margin-top: 2em;
}

h2 {
  font-size: calc(var(--document-font-size) + 2pt);
  font-weight: 600;
  margin-top: 1.6em;
}

h2::before {
  content: "ยง ";
  color: darkgray;
}

del {
  text-decoration: line-through;
  background-color: #fed0ce;
}

ins {
  text-decoration: underline;
  background-color: #c5dacb;
}

b.important {
  color: red;
}

details,
blockquote {
  border-left: var(--theme) 3pt solid;
  background-color: var(--theme-tint-9);
  padding: 1em 1em 1em calc(1em + 3pt);
  margin: calc(var(--document-padding) / 2) 0;
}

p code,
ul code,
ol code,
table code {
  background-color: var(--theme-tint-9);
  padding: 0 0.3em;
  border-radius: 3pt;
}

kbd {
  padding: 0 0.25em;
  border: var(--theme-shade-1) 1px solid;
  border-radius: 0.3em;
  font-weight: 300;
}

p a[href] {
  color: var(--theme-shade-1);
  text-decoration: unset;
}

p a[href]:hover {
  color: white;
  background-color: var(--theme-tint-1);
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

table,
td,
th {
  border: 0.6px solid darkgray;
  padding: 4pt 7pt;
}

td {
  text-align: left;
}

thead th {
  font-weight: bold;
  width: fit-content;
}

dl {
  text-indent: 2em;
}

dt {
  font-weight: 700;
}

@media (max-width: 1080px) {
  nav.right {
    display: none;
  }

  main {
    margin-right: 0;
  }
}

@media (max-width: 760px) {
  nav.left {
    display: none;
  }

  main {
    margin-left: 0;
  }
}