.rightbar {
	top: 0;
	right: 0;
	height: 100%;
	/* Full-height */
	position: fixed;
	/* Fixed right bar */
	z-index: 1;
	/* Stay on top */
	overflow-x: hidden;
	/* Disable horizontal scroll */
	overflow-y: auto;
	width: var(--bar-width);
	padding-top: var(--document-margin);
	text-align: right;
	background-color: white;
}

.rightbar a,
.rightbar span {
	text-decoration: none;
	color: darkgray;
	display: block;
}

.rightbar span,
.rightbar a.h1 {
	padding: var(--bar-item-vertical-padding) calc(0.9 * var(--document-margin));
	font-size: 13pt;
	font-weight: bold;
}

.rightbar a {
	padding: var(--bar-item-vertical-padding) calc(1.2 * var(--document-margin)) var(--bar-item-vertical-padding) var(--document-margin);
	font-size: 11pt;
}

.rightbar :hover {
	color: #1e9a7c;
}

.rightbar :hover::before {
	content: "> ";
}