/* The right bar menu */
.rightbar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: var(--bar-width); /* Set the width of the right bar */
  position: fixed; /* Fixed right bar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: var(--document-margin);
  text-align: right;
  overflow-y: auto;
}

/* The navigation menu links */
.rightbar a, .rightbar span {
  padding: 
    var(--bar-item-vertical-padding) 
    calc(1.2 * var(--document-margin))
    var(--bar-item-vertical-padding)
    var(--document-margin);
  text-decoration: none;
  font-size: 11pt;
  /* font-style: italic; */
  color: darkgray;
  display: block;
  font-weight: 400;
}

.rightbar a {
  font-weight: 300;
}

/* When you mouse over the navigation links, change their color */
.rightbar a:hover {
  color: #1e9a7c;
  font-weight: 400;
}

.rightbar a:hover::before {
  content: "-> ";
}

.rightbar span {
  padding: var(--bar-item-vertical-padding) calc(0.9 * var(--document-margin));
  font-size: 13pt;
  font-weight: 500;
}

/* On smaller screens, where height is less than 450px, change the style of the right bar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .rightbar {
    padding-top: 15px;
  }
  .rightbar a {
    font-size: 18px;
  }
}