@font-face {
  font-family: "Sarasa Mono TC";
  font-style: normal;
  font-weight: normal;
  src: url("SarasaMonoTC-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Sarasa Mono TC";
  font-style: normal;
  font-weight: bold;
  src: url("SarasaMonoTC-Bold.woff2") format("woff2");
}